/* Write your CSS here */
.bg-container {
  background-color: #ffc2a0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}

.todos-container {
  background-color: #ffffff;
  width: 90%;
  max-width: 500px;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
}

.heading {
  color: #ff8542;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}

.todos-list {
  list-style-type: none;
  padding-left: 0;
}
